body {
  overflow: hidden;
  margin: 0;
}

main {
  justify-content: center;
  align-items: center;
  min-height: 700px;
}
.cardMain {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
}

.imageContainer {
  width: 40%;
  height: 100%;
  position: relative;
  text-align: center;
  height: auto;
  max-width: 100%;
  min-width: 250px;
  overflow: hidden;
}

.illustration {
  max-height: 101vh;
  min-width: 100%;
}
.contentContainer {
  width: 60%;
  height: 100vh;
  min-width: 250px;
  background-color: #393e46;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p {
  margin: 0;
}
.title {
  color: rgb(197, 200, 202);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
  font-weight: 900;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 25%;
  text-align: center;
}
.logo {
  max-height: 70px;
  width: auto;
  margin-right: 20px;
}
.titleContainer {
  height: 100px;
  width: 101%;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.716);
  padding-bottom: 10%;
}
.formContainer {
  position: absolute;
  top: 35%;
  height: 380px;
  background-color: rgba(28, 22, 22, 0.691);
  width: 100%;
  padding-left: 10%;
  padding-bottom: 30px;
  color: #d65a31;
  box-shadow: 0 5px #0000003f;
}

form {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: small;
  color: #c6c6c6;
}

.coupleContainer {
  display: flex;
}

.form_content {
  padding-right: 30px;
  padding-bottom: 30px;
}

h1 {
  position: absolute;
  top: 20%;
  left: 49%;
  min-width: 300px;
  color: #c6c6c6;
}
button {
  background-color: #d65a31;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  box-shadow: 2px 5px #4e4e4e;
  margin-bottom: 20px;
}
button:hover {
  background-color: #994123;
}

button:active {
  background-color: #994123;
  box-shadow: 0 0px #666;
  transform: translateY(5px);
}
fieldset {
  position: relative;
}

legend {
  position: absolute;
  bottom: 0;
  right: 0;
}

input {
  border-radius: 5px;
  height: 20px;
}
